# Compiled class file
*.class

# Gradle
#    Ignore the generated local settings file.
/gradle.properties
.gradle/
build/

# Ignore gradle wrapper
gradle/wrapper/gradle-wrapper.jar
.gradletasknamecache

# IntelliJ IDEA
/.idea/
.run
**/*.iml
**/*.ipr
**/*.iws
out/

# macOS
.DS_Store

# Log file
*.log


# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
